## 제1유형 데이터 전처리

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/dataset/main/titanic.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
# 변수 타입 변환
df['Survived'] = df['Survived'].astype(str)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [ ]:
# 기초통계랑
df.describe()
# 모든 변수에 대한 통계와 분포를 보여줌
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,2,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,0,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,549,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,NaN,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,NaN,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,NaN,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,NaN,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,NaN,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,NaN,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,NaN,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [ ]:
grouped = df.groupby('Pclass') # 그룹화 하기
grouped.size() # 빈도수 구하기

Pclass
1    216
2    184
3    491
dtype: int64

- 데이터 전처리 필요성
- 결측치 처리
- 틀린값 처리
- 이상치 처리
- 데이터 변환: 범주형으로 변환, 일반 정규화, Z-score 정규화, 로그 변환, 역수 변환
- 데이터 축소: PCA
- 샘플링

In [ ]:
# Z-표준화
import numpy as np
import pandas as pd
import sklearn.preprocessing

df1 = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/df_sample.csv')

import sklearn
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df1['중간'] = scaler.fit_transform(df1[['중간']])
df1.head()

    학번        중간  기말  리포트  퀴즈
0  S01  1.231167  95   20  20
1  S02  0.436866  83   18  18
2  S03  0.238290  78   18  18
3  S04  0.039715  75   10  10
4  S05  1.529030  91   12  12

In [22]:
# Min-Max 정규화
from sklearn.preprocessing import MinMaxScaler

sclaer = MinMaxScaler()
df1['증긴'] = sclaer.fit_transform(df1[['중간']])
df1.head()

    학번        중간  기말  리포트  퀴즈        증긴
0  S01  1.231167  95   20  20  0.909091
1  S02  0.436866  83   18  18  0.666667
2  S03  0.238290  78   18  18  0.606061
3  S04  0.039715  75   10  10  0.545455
4  S05  1.529030  91   12  12  1.000000

In [29]:
# 범주화, 이산형화
df1['등급'] = 0


df1.loc[(df1['기말']) < 60, '등급'] = 'F'
df1.loc[(df1['기말']) >= 60 & (df1['기말'] < 70), '등급'] = 'D'
df1.loc[(df1['기말']) >= 70 & (df1['기말'] < 80), '등급'] = 'C'
df1.loc[(df1['기말']) >= 80 & (df1['기말'] < 90), '등급'] = 'B'
df1.loc[(df1['기말']) >= 90 & (df1['기말'] <= 100), '등급'] = 'A'

df1

/var/folders/km/7c_dj80d1gs40kyd912vcjq80000gn/T/ipykernel_13266/3629663205.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'F' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.loc[(df1['기말']) < 60, '등급'] = 'F'

    학번        중간  기말  리포트  퀴즈        증긴 등급
0  S01  1.231167  95   20  20  0.909091  A
1  S02  0.436866  83   18  18  0.666667  A
2  S03  0.238290  78   18  18  0.606061  A
3  S04  0.039715  75   10  10  0.545455  A
4  S05  1.529030  91   12  12  1.000000  A
5  S06 -0.655299  75   16  16  0.333333  A
6  S07 -1.747463  80   18  18  0.000000  A
7  S08 -0.556011  65   14  14  0.363636  A
8  S09 -1.251025  65   14  14  0.151515  A
9  S10  0.734729  78   10  10  0.757576  A

In [31]:
# cut()
df1['등급'] = pd.cut(x=df1['기말'],
                   bins=[0,60,70,80,90,100],
                   labels=['F', 'D', 'C', 'B', 'A'],
                   include_lowest=True)

df1

    학번        중간  기말  리포트  퀴즈        증긴 등급
0  S01  1.231167  95   20  20  0.909091  A
1  S02  0.436866  83   18  18  0.666667  B
2  S03  0.238290  78   18  18  0.606061  C
3  S04  0.039715  75   10  10  0.545455  C
4  S05  1.529030  91   12  12  1.000000  A
5  S06 -0.655299  75   16  16  0.333333  C
6  S07 -1.747463  80   18  18  0.000000  C
7  S08 -0.556011  65   14  14  0.363636  D
8  S09 -1.251025  65   14  14  0.151515  D
9  S10  0.734729  78   10  10  0.757576  C

In [ ]:
# PCA 차원 축소
iris = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/iris.csv')

# PCA에는 **연속형 변수**만 사용하기 때문에 연속형 변수와 범주형 변수를 분리해야된다
df = iris.drop(['species'], axis = 1)
df_species = iris['species']

df.head()

# 변수간 스케일 차이가 나면 주성분에 영향을 많이 주기 때문에 주성분 분석 전에 변수를 표준화나 정규화 시킨다.

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2